.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

figcaption{
  padding: 25px;
  cursor: pointer;
  width: 350px;
}

figcaption:hover{
  background-color: #292930;
  color: white;
}

.App-link {
  color: #61dafb;
}

.blockquote-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.random-btn{
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.advCon{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}